@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@300&display=swap');


/* font  */
/* 
font-family: 'Limelight', cursive; titre
font-family: 'Montserrat', sans-serif; paragraph */



* {
    font-family: 'Montserrat', sans-serif;
    }

    body {
        background-color: black !important;
        margin: 0px 0px !important;
        padding: 0px 0px !important;
    }

    .blueletter {
        color: #00BFFF;
      }
    .banniere{
        position: relative;
        width: 100% !important;
        min-height: 10vh !important;
        display: flex;
        background-image: url(../media/images/bibliotheque.jpg);
        background-size: cover;
        border-bottom: 2px solid;
        border-color: aliceblue;
        margin: 0px 0px !important;
        padding: 0px 0px !important;
        box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
    
    }
    
    
    .banniere .contenu {
        font-size: 1.3em;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-shadow: 10px 20px 20px rgb(0, 0, 0);
        font-weight: 900;
        text-align:center;
        padding: 300px 400px;
        max-height: 10vh;
        
        background-color: rgba(0, 0, 0, 0.637) !important;
    
    }
    form {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    margin-bottom: -150px !important;

    }
  

    .container-form {
        padding: 50px 0px;
        background-color: rgba(0, 0, 0, 0.637) !important;
        position: relative;

    
    }
    
    h1 {
    text-align: center;
    padding: 10px 0px;
    color: #FFFAFA;
    background:rgb(24, 23, 23);
    }
    input[type=submit] {
    border: solid  1px  rgb(73, 73, 73);
    margin-bottom: 10px;
    float: right;
    padding: 15px;
    outline: none;
    border-radius: 7px;
    width: 120px;
    }
    input[type=text],
    [type=password],
    [type=mail] {
    border: solid  1px  rgb(82, 82, 82);
    margin-bottom: 10px;
    padding: 16px;
    outline: none;
    border-radius: 7px;
    width: 300px;
    }
    .erreur {
    text-align: center;
    color: red;
    margin-top: 10px;
     
    }
    .login_user {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: normal;
    }
    a:hover {
    text-decoration: underline;
    color: rgb(150, 150, 150) !important;
    }


   





