@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@300&display=swap');


/* font  */
/* 
font-family: 'Limelight', cursive; titre
font-family: 'Montserrat', sans-serif; paragraph */

    * {
        font-family: 'Montserrat', sans-serif;
        }
       
        body {
            background-color: black !important;
        }

        
.banniere{
    position: relative;
    width: 100% !important;
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../media/images/bibliotheque.jpg);
    background-size: cover;
    border-bottom: 2px solid;
    border-color: aliceblue;
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);

}


.banniere .contenu {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 10px 20px 20px rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    padding: 100px 170px;
    background-color: rgba(0, 0, 0, 0.637) !important;

}


        .blueletter {
            color: #00BFFF;
          }

  
        form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -100px;
        }

        .container-form {
            padding: 150px 100px;
            background-color: rgba(0, 0, 0, 0.637) !important;
            position: relative;
        }
        h1 {
        text-align: center;
        color: #FFFAFA;
        background: rgb(0, 0, 0);
        }
         
        .login_valid {
        border: solid  1px rgb(73, 73, 73);
        margin-bottom: 10px;
        float: right;
        padding: 15px;
        outline: none;
        border-radius: 7px;
        width: 120px;
        }
        input[type=text],
        [type=password] {
        border: solid  1px  rgb(73, 73, 73);
        margin-bottom: 10px;
        padding: 16px;
        outline: none;
        border-radius: 7px;
        width: 300px;
        }
        .erreur {
        text-align: center;
        color: red;
        margin-top: 10px;
        }
         
        .login_compte {
        font-size: 12pt;
        color: rgb(255, 255, 255) !important;
        text-decoration: none;
        font-weight: normal;
        padding: 0px 0px;
        }
        a:hover {
        text-decoration: underline;
        color: rgb(150, 150, 150) !important;
        }

        .login_valid {
            font-size: 0.9em;
        }
