.paralaxContainer {
    height: 400px;
    width: 100%;
    background-image: url(../media/images/parallaxpagefilm.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: aliceblue;

  }
  @media screen and (max-width: 1024px) {
    .paralaxContainer {
      display: none;
    }
  }